<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.demo.twitterlike.android.ui"
  	 android:versionCode="2"
     android:versionName="1.1.5" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />

  
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="it.demo.twitterlike.android.application.MainApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.SwipeListView" >

        <!-- android:noHistory="true" -->

        <activity android:hardwareAccelerated="false"
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:hardwareAccelerated="false"
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        <activity
            android:name=".LoginSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"  />
         
      
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".MessageListActivity" />
      
         <activity android:name=".UserDetailsActivity" />
        
         
           <activity android:name=".MessageCreateActivity" />
           
            <activity android:name=".FollowActivity" />
        
     

        <service android:name="com.telly.groundy.GroundyService" />
    <!--    <service android:name="it.lalegnaia.ordermanagement.android.service.AsyncGroundyService" >
            <meta-data
                android:name="groundy:mode"
                android:value="async" />
        </service>
         --> 
    </application>

</manifest>